views/fingerprints.pug
extends layout

block append css
    link(id="cssfile", rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

append content
    div.container.h-100
        div.row.h-100.justify-content-center(style="display: block;")

            each fingerprint in fingerprints
                div.card.card-large-div.bg-light
                    div.card-header
                        h5 #{fingerprint.os} / #{fingerprint.browser}
                            a
                                i.fa.fa-plus(style="float:right", aria-hidden="true")

                        h6.card-subtitle.mb-2.text-muted Added at #{fingerprint.date}

                    div.card-body(style="display:none;")
                        table.table.table-striped
                            thead
                                tr
                                    th(scope="col") Attribute name
                                    th(scope="col") Value
                            tbody
                                each value, attribute in fingerprint
                                    if attribute !== 'date' && attribute !== 'os' && attribute !== 'browser'
                                        tr
                                            td #{attribute}
                                            td #{value}

block append scripts
    script(src="/js/empreinte.js")
    script(src="/js/fingerprints.js")

public/fingerprints.html
<!DOCTYPE html>
<head>
	<link rel="icon" type="image/png" href="/static/img/favicon-16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/img/favicon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/img/favicon-64.png" sizes="64x64">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link id="cssfile" rel="stylesheet" href="/static/css/navfirefox.css">


	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/fpcollect.js"></script>
	<script src="/static/js/empreinte.js"></script>
	<script src="/static/js/cookie.js"></script>
	<script src="/static/js/ua-parser.js"></script>
	<script src="/static/js/navdetect.js"></script>

	<script>
		$(function(){

			fp = ""

			$.when(GetFingerprint()).done(function(fingerprint){
				fp = fingerprint

				refreshFingerprints()
			})

			toReplaceCard = '<div class="card card-large-div bg-light col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 align-self-center mt-4">\
					<div class="card-body">\
						<h5 class="card-title">{card-title}</h5>\
					    <h6 class="card-subtitle mb-2 text-muted">{card-subtitle}</h6>\
						{remove-button}\
						<div id="table-div">\
			    			<table class="table table-striped">\
			      				<thead>\
				      				<tr>\
				      					<th scope="col">#</th>\
				      					<th scope="col">Attribute name</th>\
				      					<th scope="col">Value</th>\
				      				</tr>\
				      			</thead>\
				      			<tbody id="tbody-element">{table-body}</tbody>\
					      	</table>\
			    		</div>\
			    	</div>\
				</div>'

		    $("#navbar").load("/static/navbar.html");
		    $(".nav-item").removeClass("active")
			$("#nav-element-profile").addClass("active")	 

			function refreshFingerprints(){
				$.ajax({
					type: "GET",
					url:  "/profile/fingerprint/list",
					success: function(data){
						fingerprints = JSON.parse(data)

						nbFingerprints = Object.keys(fingerprints).length
						canvasData = ""
						canvasID = ""

						currentFingerprintID = ""
						currentAbsoluteDiff = 0

						hash = HashFingerprint(fp)
						for(id in fingerprints){
							fingerprint = fingerprints[id]
							generatedHash = HashFingerprint(fingerprint)
							diff = Math.abs(hash - generatedHash)
							if(currentFingerprintID == "" || diff < currentAbsoluteDiff){
								currentFingerprintID = id
								currentAbsoluteDiff = diff
							}
						}

						let cpt = 0

						for(id in fingerprints){
							fingerprint = fingerprints[id]

							fingerprintTable = GetDisplayFingerprintHTML(fingerprint, cpt)

							linkRemoveFingerprint = ""
							if(nbFingerprints > 1 && currentFingerprintID != id){
								linkRemoveFingerprint = '<a class="remove-fingerprint btn btn-danger" href="/profile/fingerprint/remove?fingerprintid=' + id + '">Remove this fingerprint</a>'
							}

							date = new Date(parseInt(id + "000"))
							hours = date.getHours().toString()
							if(hours.length == 1) {
								hours = 0 + hours
							}

							minutes = date.getMinutes().toString()
							if(minutes.length == 1) {
								minutes = 0 + minutes
							}							
							dateString = hours + "h" + minutes
										 

							var uaParser = new UAParser(fingerprint.userAgent)
							result = uaParser.getResult()
							
							cardTitle = result.os.name
							if(result.os.version != undefined){
								cardTitle += " " + result.os.version
							}

							cardTitle += "/" + result.browser.name + " " + result.browser.major

							card = toReplaceCard
							card = card.replace("{card-title}", cardTitle)
										.replace("{card-subtitle}", "Added at " + dateString)
										.replace("{table-body}", fingerprintTable)
										.replace("{remove-button}", linkRemoveFingerprint)
							$("#main-div").append(card)


							if(canvasData != "" && canvasData != undefined && canvasData != null){ 
								AddCanvasData(canvasID, canvasData)
							}
							cpt++;
						}
					},
					error: function(){}
				});
			}

			$("body").on('click', 'a.remove-fingerprint', function(event){

				event.preventDefault()

				$.ajax({
					type: "DELETE",
					url:  this.href,
					success: function(data){
						location.reload(true);
					},
					error: function(xhr, status, error) {
						location.reload(true);
					}
		   	 	});

		   	 	return false
			})
		})
	</script>

	<title>Fingerprints</title>
</head>
<body>
	<div id="navbar">
	</div>
		<div class="container h-100" id="title_cont">
		<div class="row justify-content-center">
			<img id="navlogo" class="fit-picture" src="/static/img/firefox_logo.png"  width="200" height="200"/>
		</div>
		<div class="row justify-content-center">
			<b>Navigateur :</b>
		</div>
		<div id ="navname" class="row justify-content-center">
			Firefox
		</div>
	</div>
	<div class="container h-100" id="form_cont">
  		<div id="main-div" class="row h-100 justify-content-center">  			
  		</div>
	</div>
	<script type="text/javascript">
		//Detect the navigator
		var mynav = navdetect();
		var mynavlow = mynav.toLowerCase();
		//Set Logo
		var logo_path = "/static/img/"+mynavlow+"_logo.png";
		$("#navlogo").attr('src', logo_path);

		//Set Nav name
		$("#navname").text(mynav);

		//Set CSS
		var css_path = "/static/css/nav"+mynavlow+".css";
		$("#cssfile").attr('href', css_path);


	</script>
</body>
</html>
