views/home.pug
extends layout

append content
    div.container.h-100.w-50#form_cont
        div.row.h-50.mb-5.justify-content-center
            div.col
                a.btn.btn-home.btn-block(href="/registration") Creer un compte
        div.row.h-50.mt-5.justify-content-center
            div.col
                a.btn.btn-home.btn-block(href="/authentication") Se connecter

public/home.html
<!DOCTYPE html>
<head>
	<link rel="icon" type="image/png" href="/static/img/favicon-16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/img/favicon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/img/favicon-64.png" sizes="64x64">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link id="cssfile" rel="stylesheet" href="/static/css/navfirefox.css">

	<script src="/static/js/jquery.min.js"></script>

	<script src="/static/js/navdetect.js"></script>
	<script src="/static/js/bootstrap.js"></script>

	<title>Home</title>
</head>
<body>
	<div class="container h-100" id="title_cont">
		<div class="row justify-content-center">
			<img id="navlogo" class="fit-picture" src="/static/img/firefox_logo.png"  width="200" height="200"/>
		</div>
		<div class="row justify-content-center">
			<b>Navigateur :</b>
		</div>
		<div id="navname" class="row justify-content-center">
			Firefox
		</div>
	</div>
	<div class="container h-100 w-50" id="form_cont">
		<div class="row h-50 mb-5 justify-content-center">
            <div class="col">
                <a href="/createaccount" class="btn btn-home btn-block ">Créer un compte</a>

            </div>
        </div>
		<div class="row h-50 mt-5 justify-content-center">

            <div class="col">
                <a href="/connexion" class="btn btn-home btn-block">Se connecter</a>

            </div>
    		<!--<div class="form-div card card-div col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 align-self-center">
    			<div class="card-body">
					<center>
						<div class="form-group">
							<a href="/createaccount" class="btn btn-primary">Create account</a>
						</div>
						<div class="form-group">
							<a href="/connexion" class="btn btn-primary">Connect</a>
						</div>
					</center>
	    		</div>
	    	</div>-->
  		</div>
	</div>

	<script type="text/javascript">
	//Detect the navigator

		var mynav = navdetect();
		var mynavlow = mynav.toLowerCase();
		//Set Logo
		var logo_path = "/static/img/"+mynavlow+"_logo.png";
		$("#navlogo").attr("src", logo_path);

		//Set Nav name
		$("#navname").text(mynav);

		//Set CSS
		var css_path = "/static/css/nav"+mynavlow+".css";
		$("#cssfile").attr('href', css_path);

	</script>
</body>
</html>
