public/profile.html
<!DOCTYPE html>
<head>
	<link rel="icon" type="image/png" href="/static/img/favicon-16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/static/img/favicon-32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/img/favicon-64.png" sizes="64x64">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link id="cssfile" rel="stylesheet" href="/static/css/navfirefox.css">


	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/fpcollect.js"></script>
	<script src="/static/js/empreinte.js"></script>
	<script src="/static/js/cookie.js"></script>
	<script src="/static/js/navdetect.js"></script>

	<script>
		$(function(){
		    $("#navbar").load("/static/navbar.html");
		    $(".nav-item").removeClass("active")
		    $("#nav-element-profile").addClass("active")

		    lang = navigator.language
		    src = "/static/img/schema-FIC-en.png"
		    /*
		    Maybe decomment this later when all the text will be translated in both French and English
		    if(lang == "fr" || lang.startsWith("fr")){
		    	src = "/static/img/schema-FIC-fr.png"
		    } else {
		    	src = "/static/img/schema-FIC-en.png"
		    }
		    */

		    $("#schema-img").attr("src", src)

			$.when(GetFingerprint()).done(function(fingerprint){
				s = ""
				i = 0
				cpt = 1

				s = GetDisplayFingerprintHTML(fingerprint, 0)
				
				$("#tbody-element").html(s)
				if(canvasData != undefined && canvasData != null){ 
					AddCanvasData(canvasID, canvasData)
				}
			})
			
		})
	</script>
		
	<title>Profile</title>
</head>
<body>
	<div id="navbar">
	</div>
	<div class="container h-100" id="title_cont">
		<div class="row justify-content-center">
			<img id="navlogo" class="fit-picture" src="/static/img/firefox_logo.png"  width="200" height="200"/>
		</div>
		<div class="row justify-content-center">
			<b>Navigateur :</b>
		</div>
		<div id ="navname" class="row justify-content-center">
			Firefox
		</div>
	</div>
	<div class="container h-100" id="form_cont">
  		<div class="row h-100 justify-content-center">
    		<div class="card card-large-div col-xs-12 col-sm-12 col-md-12 col-lg-8 align-self-center">
    			<div class="card-body">
		    			<div>
			    			<div class="col col-9">
				    			<h3>You're connected, {{.Email}} !</h3>
							</div>
			      		</div>
		      			<br/>
		      			<p>Now try to connect with the same login and password on another browser or device.</p>
		      			<p>Hint : <b>you won't be able to !</b> The reason is that we perform authentication with two factors (2FA) : the password and the browser fingerprint.</p>
		      			<br/>
		      			<div>
	 						<img id="schema-img" alt="schema" width="100%" height="100%">
	 					</div>
				</div>
			</div>
			<div class="card card-large-div col-xs-12 col-sm-12 col-md-12 col-lg-8 align-self-center">
				<div class="card-body">
				<p>Browser fingerprint is a technique to collect data from a user's browser in order to identify him. More informations can be found on our <a href="http://amiunique.org">AmIUnique website</a>. The attributes of the fingerprint we collect here are the following :</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Attribute name</th>
							<th scope="col">Value</th>
						</tr>
					</thead>
					<tbody id="tbody-element">

					</tbody>
				</table>
				</div>
			</div>
			<div class="card card-large-div col-xs-12 col-sm-12 col-md-12 col-lg-8 align-self-center">
				<div class="card-body">
					<p>The advantages of doing 2FA with browser fingerprint are the transparency, the non-intrusivity and the minimal impact on user experiences.</p>
					<p>But it also raises some questions :</p>
					<ul class="list">
						<li>How to have stable attributes ? Stable means over a long period of time, for weeks or months</li>
						<li>How to keep a high level of protection with a minimal user experience impact ? Some high stable and secure attributes need time to be compute</li>
						<li>What sort of mechanisms should occur when connecting from a new device ? When registering ? When a user would like to revoke a fingerprint (for example if a device is stolen) ?</li>
					</ul>
	    		</div>
	    	</div>
  		</div>
	</div>
<script type="text/javascript">
		//Detect the navigator
		var mynav = navdetect();
		var mynavlow = mynav.toLowerCase();
		//Set Logo
		var logo_path = "/static/img/"+mynavlow+"_logo.png";
		$("#navlogo").attr('src', logo_path);

		//Set Nav name
		$("#navname").text(mynav);

		//Set CSS
		var css_path = "/static/css/nav"+mynavlow+".css";
		$("#cssfile").attr('href', css_path);


	</script>
</body>


</html>

views/profile.pug
extends layout

append content
    div.container.h-100
        div.row.h-100.justify-content-center
            div.card.card-large-div.align-self-center
                div.card-body
                    div.col
                        h3 You're connected, #{email}
                    br
                    p Now try to connect with the same login and password on another browser or device.
                    p Hint : <b>you won't be able to !</b> The reason is that we perform authentication with two factors (2FA) : the password and the browser fingerprint.
                    br
                    div
                        img#schema-img(alt="schema" width="100%" height="100%")
            div.card.card-large-div.align-self-center
                div.card-body
                    p Browser fingerprint is a technique to collect data from a user's browser in order to identify him. More informations can be found on our <a href="http://amiunique.org">AmIUnique website</a>. The attributes of the fingerprint we collect here are the following :

                    table.table.table-striped
                        thead
                            tr
                                th(scope="col") #
                                th(scope="col") Attribute name
                                th(scope="col") Value
                        tbody#tbody-element

            div.card.card-large-div.align-self-center
                div.card-body
                    p The advantages of doing 2FA with browser fingerprint are the transparency, the non-intrusivity and the minimal impact on user experiences.
                    p But it also raises some questions :
                    ul.list
                        li How to have stable attributes ? Stable means over a long period of time, for weeks or months
                        li How to keep a high level of protection with a minimal user experience impact ? Some high stable and secure attributes need time to be compute
                        li What sort of mechanisms should occur when connecting from a new device ? When registering ? When a user would like to revoke a fingerprint (for example if a device is stolen) ?

block append scripts
    script(src="/js/empreinte.js")
    script(src="/js/fpcollect.js")
    script(src="/js/profile.js")
